<div class="container">
  <div class="row"><h3><%= t "pins.map" %></h3></div>
  <div class="row">
    <div class="map_container">
      <div id="sidebar_builder" class="map_canvas"></div>
    </div>
  </div>
</div>