<h1><%= t "pins.edit" %></h1>

<%= render 'form' %>

<%= link_to t("pins.show"), @pin %> |
<%= link_to t("pins.destroy"), pin_path(@pin), method: :delete, data: {confirm: t("pins.deletion_confirm") } %>
