<div class="modal" id="t_c_modal">
  <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title">Terms and Conditions</h4>
        </div>
        <div class="modal-body">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut lobortis, neque vel semper facilisis, arcu mi molestie est, ut mattis nisl mi nec lacus. Sed consectetur tellus vitae mi dapibus luctus. Praesent eget odio libero. Nunc vitae ullamcorper sem. Aliquam elementum vehicula nisi, ut pulvinar velit aliquet in. Aenean ac vehicula purus, ac egestas purus. Cras eu faucibus tortor. Nulla facilisi. Proin finibus accumsan tempor. Proin finibus lorem sed ex gravida, sit amet ornare felis efficitur. In fringilla sodales ligula, a tincidunt erat tristique vel. Donec sit amet urna velit.

          Praesent elementum enim quis tincidunt malesuada. Phasellus ut nisi magna. Nunc ut venenatis felis. Donec porta eleifend laoreet. Proin a urna augue. Praesent feugiat nunc eu dapibus aliquet. Nunc in magna cursus, tincidunt felis at, gravida turpis. Vestibulum sollicitudin velit a erat dapibus, a placerat nunc ultrices. Aenean gravida turpis ac dolor commodo blandit. Praesent at dolor sit amet risus ornare rhoncus. Duis accumsan imperdiet nisl sodales semper. Etiam efficitur pellentesque malesuada.

          Nunc diam ante, accumsan non sapien vitae, suscipit mollis dolor. Suspendisse fringilla vitae lacus mattis accumsan. Nullam venenatis erat non augue consectetur cursus. Praesent leo eros, dictum ac semper quis, consequat in velit. Maecenas feugiat sed diam ac laoreet. In dapibus lectus eu ex eleifend rhoncus. Duis hendrerit porttitor nulla nec sagittis. Duis commodo sed tellus a porttitor. Pellentesque condimentum quis risus sit amet tincidunt. Ut molestie ipsum vitae aliquam suscipit.

          Proin sed lectus dapibus, viverra dui at, posuere mauris. Nulla facilisi. Praesent non arcu mattis, imperdiet odio non, pretium nulla. Morbi id libero non ipsum tincidunt viverra et at risus. Mauris euismod eleifend enim, non rhoncus augue interdum egestas. Nunc non massa ut arcu commodo semper eu pellentesque mauris. Mauris ac dolor tempus, euismod enim eu, malesuada nibh. In faucibus interdum mi ac viverra. Nullam iaculis convallis mi, viverra malesuada nisi molestie at. Pellentesque ac leo sed quam hendrerit commodo sagittis pellentesque neque. Nulla nec urna lacus. Suspendisse potenti. Ut vitae hendrerit mauris. Ut et libero eu dui tincidunt euismod pretium at purus. Integer eros enim, varius sit amet nisl ac, convallis ultrices sapien. Duis fringilla nisl ligula, at hendrerit ipsum faucibus sed.

          Suspendisse volutpat ipsum ac tellus efficitur luctus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Quisque laoreet efficitur hendrerit. Duis elementum vestibulum dui, a porta risus convallis in. Aenean ut efficitur neque, eu lacinia lacus. Quisque non metus turpis. Vivamus ac consectetur elit. Nam et libero at sapien egestas posuere non a neque. Nam ut enim nec felis semper lacinia. Integer metus felis, luctus at tellus vel, fringilla placerat mi. Vivamus feugiat erat id gravida sodales. Ut tristique, odio id commodo pretium, eros dolor pulvinar nunc, iaculis aliquam ex nisl non ex. In dictum gravida felis et gravida.
        </div>
        <div class="modal-footer">
          <a href="#" data-dismiss="modal" class="btn">Close</a>
        </div>
      </div>
    </div>
</div>