<div class="modal" id="t_c_modal">
  <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="modal-title"><%= t "footer.t_and_c" %></h4>
        </div>
        <div class="modal-body">
          <iframe src="https://docs.google.com/document/d/18Zev3JfIDitqKECKFUNo3pDkhNPOhgLgpnyiegDxwmo/pub?embedded=true" width="570" height="1000"></iframe>
        </div>
        <div class="modal-footer">
          <a href="#" data-dismiss="modal" class="btn"><%= t "close" %></a>
        </div>
      </div>
    </div>
</div>