<div>
<div class="jumbotron center">
	<%= image_tag("", alt: "") %>


     <h1>Welcome to your neighbourhood!</h1>
       <p>
         <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
         <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
       </p>

<br>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <p>
          <span style="font-size:3.0em;" class="glyphicon glyphicon-home"></span><h4>
deinenachbarn.ch is a <b>neighbourhood-network</b> where you can rent, sell or share things <b>environmentally sustainable</b> because you do it in your neighbourhood.</h4>

        </p>
      </div>
    </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <p>
<span style="font-size:3.0em;" class="glyphicon glyphicon-comment"></span><h4>
You need a garden-hose or a dog-sitter, post a pin here and make it happen in your neighbourhood - <b>free of charge!</b> and <b>environmentally sustainable</b>. </h4>
        </p>
      </div>
    </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <p>
<span style="font-size:3.0em;" class="glyphicon glyphicon-user"></span> <h4>
<b>Safety & privacy first</b>. Your E-mail-adress will stay private. Connection is based on a <b>secure contact-form</b> or by mobilephone, if you prefer the fast lane.</h4>
        </p>
      </div>
    </div>
  </div>

</div>
<div>
