<div>
<div class="jumbotron center">
	<%= image_tag("") %>




     <h1>Connect with your neighbours</h1>
       <p>
         <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
         <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
       </p>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <p>
          <span style="font-size:3.0em;" class="glyphicon glyphicon-home"></span><h4>
deinenachbarn.ch is a neighbourhood-network where you can connect with your neighbours and share. Registration on deinenachbarn.ch is free of charge. No strings attached. </h4>

        </p>
      </div>
    </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <p>
<span style="font-size:3.0em;" class="glyphicon glyphicon-comment"></span><h4>
If you need a drilling machine or a screwdriver if you want to sell your bike or are looking for cat-sitter while you're on vacation, then connect with your neighbours on deinenachbarn.ch and make it happen by posting it with a pin. </h4>
        </p>
      </div>
    </div>

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <p>
<span style="font-size:3.0em;" class="glyphicon glyphicon-user"></span> <h4>
In neighbourhoods safety and privacy is important. Your E-mail-Adress will stay private. If you want you can give your phone-number that your neighbours can reach you faster, you don't have that. You can only be contactet by a contact-form. Questions? Contact us!</h4>
        </p>
      </div>
    </div>
  </div>


</div>
<div>
