<div class="jumbotron">
<h1>About willteilen.ch</h1>
<p>This is a sharing-platform where people can share services and products for free within their neighbourhood.</p>

<p>1. How it works</p>
<ul>
<li>You have something to share: you post it here and people can contact you if they need it.</li>
<li>You see something you could use: contact the one who is willing to share it.</ul>
</p>

<p>2. Examples (for inspiration)</p>

<ul>
<li>It's a classic: lacking eggs, milk, sugar - anyone can help out?</li>
<li>Looking for a Babysitter tonight: wanna go to the movies with my husband (first time after years by the way)</li>
<li>Looking for a Dogsitter - need to traval for business a few days (unexpecte) - will pay with dog-cookies ;)</li>
<li>Looking for a Cat-Sitter, while on vacation. Don't expect my cat to be nice to you ;)</li>
<li>Water my plants while on vacation - won't blame you if they die</li>
<li>Garage Sale next weekend - things must go</li>
<li>I have a drilling machine to share, don't drill 24/7</li>
<li>It’s sunday and I wanna bake a cake but don’t have enough eggs - hi I have eggs, lets bake it together! </li>
<li>I’m sick in bed with fever and need some meds. Could someone get me an aspirin please? And read from my favorite book until I fall asleep?</li>
<li>etc.</li>
</p>

<p>Check out the latest offers/requests</p>
<%= link_to "Browse Offers", root_path, class: "btn btn-primary btn-lg" %>
</div>
