<div class="jumbotron">
<h1>About Meet your Street</h1>
<p>This is a sharing-platform where people can share services and products for free within their street/house.</p>

<p> Examples are: </p>

<ul>
<li>Looking for a Babysitter</li>
<li>Looking for a Dogsitter</li>
<li>Looking for a Cat-Sitter, while on vacation</li>
<li>Pet-Sitting in general, while on vacation</li>
<li>Water my plants while on vacation</li>
<li>Garage Sale</li>
<li>I have a drilling machine to share</li>
<li>It’s sunday and I wanna bake a cake but don’t have enough eggs - hi I have eggs, lets bake it together! </li>
<li>I’m sick in bed with fever and need some meds. Could someone get ma aspirin? </li>
<li>etc.</li>
</p>

<p>Check out the latest offers</p>
<%= link_to "Browse Offers", root_path, class: "btn btn-primary btn-lg" %>
</div>
