<div class="jumbotron">
<h1>When neighbours meet good things can happen</h1>
<p>

<p>
<span style="font-size:3.0em;" class="glyphicon glyphicon-home"></span>
deinenachbarn.ch is a neighbourhood-network where you can connect with your neighbours and share. Registration on deinenachbarn.ch is free of charge. No strings attached. 
<p>

<p>
<span style="font-size:3.0em;" class="glyphicon glyphicon-comment"></span>
If you need a drilling machine or a screwdriver if you want to sell your bike or are looking for cat-sitter while you're on vacation, then connect with your neighbours on deinenachbarn.ch and make it happen by posting it with a pin. 
</p>

<p>
<span style="font-size:3.0em;" class="glyphicon glyphicon-user"></span>
In neighbourhoods safety and privacy is important. So be thoughtful what you post online and behave. Connect with your real name and adress, otherwise your neighbours won't recognize you (you wouldn't walk around your neighbourhood with a basket on your head, unless you want to robb a bank, right?)
</p>	



<p></p>
<%= link_to "Browse Pins", root_path, class: "btn btn-primary btn-lg" %>
</div>
