/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require 'masonry/transitions'
 *= require plugins/sweet-alert
 *= require_self
 */

html, body {
  height: 800px;
  background: linear-gradient(#fff, transparent 100%),
              linear-gradient(0deg, #fff, transparent),
               #fff url("https://s3.amazonaws.com/nachbarer1/images/city_27.png") no-repeat center;
  background-size: cover;
}

.wrap {
  min-height: 90.3%;
  margin: 0 auto -128px;
}

.footer, .push {
  height: 155px; /* .push must be the same height as .footer */
}

#social:hover {
  -webkit-transform:scale(1.1); 
  -moz-transform:scale(1.1); 
  -o-transform:scale(1.1); 
}
#social {
  -webkit-transform:scale(0.8);
  /* Browser Variations: */
  -moz-transform:scale(0.8);
  -o-transform:scale(0.8); 
  -webkit-transition-duration: 0.5s; 
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}           
.social-fb:hover {
  color: #3B5998;
}
.social-tw:hover {
  color: #4099FF;
}
.social-gp:hover {
  color: #d34836;
}
.social-em:hover {
  color: #f39c12;
}
#footer{
  background: #ffffff;
  width: 100%;
}
footer .fa{
  padding: 0.2em;
}


.form-top {
  color: white;
  width: 100%;
  height: 125px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  border-radius: 5px 5px 0 0;
}

.form-bottom {
  color: white;
  width: 100%;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 0 0 5px 5px;
}


.form-bottom .btn {
  background: #60a735;
}

.form-top-right {
  padding: -5px;
}

.btn btn-default btn-med {
  background: white;
}

.thumbnail {
  background-color: rgba(0, 0, 0, 0.6);
  border: none;
  color: white;
  padding: 10px;
}

.thumbnail h3 {
  color: white;
}

.thumbnail p {
  color: white;
}

.jumbotron p {
  color: white;
}







