<footer id="footer" class="footer">
  <div class="text-center center-block">
    <br>
    <p class="txt-railway">Copyright &copy; meetyourstreet.ch 2015</p>
    <a data-toggle="modal" href="#t_c_modal">Terms & Conditions</a>
    <br>
    <a href="https://www.facebook.com/pages/Meet-Your-Street/792638590844079" target="_blank"><i id="social" class="fa fa-facebook-square fa-3x social-fb"></i></a>
    <a href="https://twitter.com/meetyourstreets" target="_blank"><i id="social" class="fa fa-twitter-square fa-3x social-tw"></i></a>
    <!-- <a href="https://plus.google.com/+Bootsnipp-page"><i id="social" class="fa fa-google-plus-square fa-3x social-gp"></i></a> -->
    <!-- <a href="mailto:"><i id="social" class="fa fa-envelope-square fa-3x social-em"></i></a> -->
  </div>
</footer>
<%= render "shared/terms_and_conditions" %>